{% extends "base.html" %}
{% block content %}

<div class="page-head">
  <h1>Training Events</h1>
</div>

<div class="card">

<table class="table">

<thead>
<tr>
<th>Event Code</th>
<th>Course</th>
<th>Date</th>
<th>Location</th>
</tr>
</thead>

<tbody>

{% for e in rows %}

<tr>

<td>
<a href="{{ url_for('event_detail', event_id=e.id) }}">
{{ e.event_code }}
</a>
</td>

<td>
{{ e.course.course_name }}
</td>

<td>
{{ e.start_date }}
</td>

<td>
{{ e.location }}
</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}
